*{
    margin:0px;
    padding:0px;
}

#displayimage{
    width:200px;
    height:300px;
    margin-top:2%;
    margin-left:41.5%;
    margin-bottom: 2%;
    border: 1.5px solid red;
}  
.main{
    width:80%;
    height:650px;
    margin-top:2.3%;
    margin-left: 10%;
    border: 1px solid red;
}
.image1{
    width:200px;
    height:320px;
    margin-top:2%;
    margin-left:41.5%;
    margin-bottom: 2%;
    border: 1.5px solid red;
}
.image2{
    width:160px;
    height:260px;
    margin-bottom:16px;
    margin-left:7.9%;
    border: 1.5px solid red;
}
.image3{
    width:160px;
    height:260px;
    margin-bottom:16px;
    margin-left:4%;
    border: 1.5px solid red;
}
.image4{
    width:160px;
    height:260px;
    margin-bottom:16px;
    margin-left:4%;
    border: 1.5px solid red;
}
.image5{
    width:160px;
    height:260px;
    margin-bottom:16px;
    margin-left:4%;
    border: 1.5px solid red;
}
.image6{
    width:160px;
    height:260px;
    margin-bottom:16px;
    margin-left:4%;
    border: 1.5px solid red;
}
